version: '3.6'

services:
  serveur_auth:
    build:
      context: ./api/serveur_auth
    ports:
      - 8080:8080
    expose:
      - 8080
    
  serveur_cv_header:
    build:
      context: ./api/serveur_cv_header
    ports:
      - 8081:8080
    expose:
      - 8080
      
  serveur_cv_experience:
    build:
      context: ./api/serveur_cv_experience
    ports:
      - 8082:8080
    expose:
      - 8080

  serveur_cv_formations:
    build:
      context: ./api/serveur_cv_formations
    ports:
      - 8083:8080
    expose:
      - 8080

  serveur_cv_competences:
    build:
      context: ./api/serveur_cv_competences
    ports:
      - 8084:8080
    expose:
      - 8080

  client:
    build:
      context: ./app
    ports:
      - 3000:3000
    expose:
      - 3000